venv/
env/
.env

__pycache__/
*.py[cod]
*$py.class
*.so

.ipynb_checkpoints

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

chroma_db/
.chroma/

.streamlit/

chroma_test/
chroma_test2/
tests/
test_*.py
